<?xml version="1.0"?>

<robot name="tetraDS" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define a number of dimensions using properties -->
  <xacro:property name="base_length" value="0.473" />
  <xacro:property name="base_radius" value="0.2365" />
  <xacro:property name="wheel_length" value="0.047" />
  <xacro:property name="wheel_radius" value="0.085" />
  <xacro:property name="wheel_offset_x" value="0.0" />
  <xacro:property name="wheel_offset_y" value="0.207" /> <!--0.220-->
  <xacro:property name="wheel_offset_z" value="-0.100" />
  <xacro:property name="PI" value="3.1415926" />

  <xacro:macro name="cylinder_inertia" params="m r h">
        <inertia ixx="${m*(3*r*r+h*h)/12}" ixy="0" ixz="0" iyy="${m*(3*r*r+h*h)/12}" iyz="0" izz="${m*r*r/2}" />
  </xacro:macro>

   <!-- Include all component files -->
   <xacro:include filename="$(find tetra_description)/urdf/materials.urdf.xacro" />
   <xacro:include filename="$(find tetra_description)/urdf/base.urdf.xacro" />
   
   <!-- Add the base and wheels -->
   <base name="base" color="Black"/>
  
  <link name="laser">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Grey" />
      </visual>
  </link>

  <joint name="laser_flag" type="fixed">
    <origin xyz="0.1372 0 0.142" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="laser" />
  </joint>

  <link name="laser_link2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Grey" />
      </visual>
  </link>

  <joint name="base_link_to_laser_link2" type="fixed">
    <origin xyz="-0.390 0.0 0.211" rpy="0 0 ${PI}" />
    <parent link="base_link"/>
    <child link="laser_link2" />
  </joint>

  <link name="imu_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Grey" />
      </visual>
  </link>

  <joint name="base_link_to_imu_link" type="fixed">
    <origin xyz="0.0 0 0.2" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="imu_link" />
  </joint>

 <link name="usb_cam">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Grey" />
      </visual>
  </link>

  <joint name="usb_cam" type="fixed">
    <origin xyz="-0.384 0.0 0.1817" rpy="1.5708 3.14159 4.71239"/>
    <parent link="base_link"/>
    <child link="usb_cam" />
  </joint>  


 <link name="Front_bumper">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.48 0.01" />
        </geometry>
        <material name="TransparentBlack" />
      </visual>
  </link>

  <joint name="Front_bumper" type="fixed">
    <origin xyz="0.2 0.0 -0.05" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="Front_bumper" />
  </joint>


 <link name="camera1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Grey" />
      </visual>
  </link>

  <joint name="camera1_link" type="fixed">
    <!--<origin xyz="0.1553 -0.1155 0.0" rpy="3.14 -0.261799 0" />-->
    <origin xyz="0.1553 0.0 0.0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="camera1_link" />
  </joint>

   <link name="camera2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Grey" />
      </visual>
  </link>

  <joint name="camera2_link" type="fixed">
    <!--<origin xyz="0.1553 -0.1155 0.0" rpy="3.14 -0.261799 0" />-->
    <origin xyz="0.1553 0.0 0.0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="camera2_link" />
  </joint>

 <link name="base_Upperlink">
   <visual>
    <origin xyz=" 0 0 0 " rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tetra_description/meshes/Platform Body_U.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="TransparentRed"/>        
    </visual>
      <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="${base_length}" radius="${base_radius}"/>
            </geometry>
      </collision>
  </link>

  <joint name="base_Upperlink" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="base_Upperlink" />
  </joint>


</robot>


